<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.mapper.CommentTableMapper">

    <resultMap id="BaseResultMap" type="com.ye.model.entity.CommentTable">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="LONGVARCHAR"/>
        <result property="likeSet" column="like_set" jdbcType="LONGVARCHAR"/>
        <result property="fatherId" column="father_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="commentLevel" column="comment_level" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
        <result property="postId" column="post_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,like_set,
        father_id,user_id,comment_level,
        create_time,edit_time,update_time,
        is_delete,post_id
    </sql>

</mapper>